*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#slideshow{
	height: 60vh;
	overflow: hidden;
}

#slider{
	display: block;
	width: 400%;
}


h1,h2,h3,h4,h5,h6{
	font-family: "Open Sans Condensed";
}

#sec-1a , #sec-1d{
	background: linear-gradient(0deg, rgb(255, 18, 136,0.6), rgba(255, 18, 136,0.6)), url(images.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 25%;
}

#sec-1b{
	background: linear-gradient(0deg, rgb(255, 18, 136,0.6), rgba(255, 18, 136,0.6)), url(image-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 25%;
}

#sec-1c{
	background: linear-gradient(0deg, rgb(255, 18, 136,0.6), rgba(255, 18, 136,0.6)), url(image-2.webp);
	background-repeat: no-repeat;
	background-size: cover;
	width: 25%;
}


p{
	font-family: 'Nanum Gothic';
}

header{
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-template-areas: "logo navlinks";
	width: 100%;
	background-color: white;
	height: 13vh;
}

header h1{
	grid-area: logo;
	font-size: 40px;
	padding: 8px;
	margin: 8px;
	padding-left: 150px;
	color: #ff1288
}

.navlinks{
	grid-area: navlinks;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.navlinks a{
	color: black;
	text-decoration: none;
}

.navlinks button{
	padding: 10px 40px;
	background-color: #ff1288;
	color: white;
	border-radius: 20px;
	margin-right: 150px;
	border: 1px solid #ff1288;
}

.section-1{
	width: 300%;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background: linear-gradient(0deg, rgb(255, 18, 136,0.6), rgba(255, 18, 136,0.6)), url(images.jpeg); */
	/* background-repeat: no-repeat;
	background-size: cover; */
	color: white;
	float: left;

}

#prev{
	position: absolute;
	top: 260px;
	margin-left: 25px;
	height: 30px;
	width: 30px;
	clip-path: polygon(70% 0%, 100% 0%, 70% 50%, 100% 100%, 70% 100%, 0% 50%);
}

#next{
	position: absolute;
	top: 260px;
	right: 25px;
	height: 30px;
	width: 30px;
	clip-path: polygon(0% 0%, 30% 0%, 100% 50%, 30% 100%, 0% 100%, 30% 50%);
}

/* #dot-container{
	display: inline-flex;
	margin-left: 160px;
} */

.dotx{
	width: 25px;
	height: 25px;
	background-color: #666666;
	margin-top: 40px;
	/* margin-left: -50px; */
	border-radius: 40px;
	position: absolute;
	top: 380px;
	left: 610px;
}

#dotx1{
	background-color: white;;
}

#dotx2{
	margin-left: 50px;
}

#dotx3{
	margin-left: 100px;
}

.section-1 h1{
	font-size: 48px;
	margin-bottom: 20px;
}

.section-1 p{
	line-height: 20px;
}

.section-1 button{
	width: 200px;
	padding: 10px 30px;
	border-radius: 25px;
	background-color: white;
	color: #ff1288;
	border: 0px solid #ff1288;
	margin-top: 30px;
}

.section-2{
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-template-areas: "about image";
	height: 60vh;
}

.about{
	grid-area: about;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 80px;
}

.about h6{
	margin-bottom: 10px;
}

.about h3{
	font-size: 40px;
	line-height: 30px;
	color: #ff4ac0;
}

.about p{
	margin-top: 30px;
}

.about button{
	width: 200px;
	border-radius: 25px;
	padding: 10px 20px;
	color: white;
	background-color: #ff1288;
	border: 0px; 
	margin-top: 20px;
}

.rimg{
	grid-area: image;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rimg div{
	width: 260px;
	height: 180px;
	border: 3px solid #ff1288;
	position: absolute;
	z-index: 1;
	margin-left: 20px;
	margin-bottom: 20px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

.rimg img{
	border-radius: 50px 100px 100px 50px;
	margin-top: 60px;
}

.feature{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feature h3{
	font-size: 40px;
	color: #ff4ac0;
}

.section-3-b{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "3a 3b 3c";
	margin-top: 60px;
}

.sec-3-b-a{
	grid-area: 3a;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.sec-3-b-a h3{
	font-size: 24px;
}

.sec-3-b-a p{
	margin: 30px;
}


.sec-3-b-b{
	grid-area: 3a;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.sec-3-b-b h3{
	font-size: 24px;
}

.sec-3-b-b p{
	margin: 30px;
}


.sec-3-b-c{
	grid-area: 3a;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.sec-3-b-c h3{
	font-size: 24px;
}

.sec-3-b-c p{
	margin: 30px;
}

.section-4{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "limg struct";
}

.limg{
	grid-area: limg;
	display: flex;
	justify-content: center;
	align-items: center;
}

.limg img{
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	position: absolute;
	z-index: 1;
	margin-bottom: 40px;
}

.limg div{
	width: 330px;
	height: 200px;
	border: 3px solid #ff1288;
	margin-left: -29px;
	margin-top: 60px;
	border-radius: 50px  100px 100px 50px;
}
.sec-4-b{
	grid-area: struct;
}

.sec-4-b h3{
	font-size: 40px;
	margin-top: 40px;
	color: #ff4ac0;
}

.sec-4-b h5{
	font-size: 16px;
	margin: 20px;
	margin-left: -5px;
}

.sec-4-b p{
	font-size: 16px;
}

.dashboard{
	margin-top: 60px;
	padding-top: 60px;
	display: flex;
	height: 90vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: lightgrey;
}

.dashboard h3{
	font-size: 40px;
	color: #ff4ac0;
}

.dashboard p{
	margin-top: 20px;
}

.reviews{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}

.reviews h3{
	font-size: 32px;
	margin-top: 20px;
}

.cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "sh mj kl"
}

.sh{
	grid-area: sh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 70vh;
	width: 50%;
	border: 1px solid white;
	margin: 30px;
	padding: 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	margin-left: 40%;
}

.sh img{
	border-radius: 40px;
	margin-top: 10px;
}

.mj{
	grid-area: mj;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 50%;
	height: 70vh;
	border: 1px solid white;
	margin: 30px;
	padding: 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	margin-left: 25%;
}

.mj img{
	border-radius: 40px;
	margin-top: 10px;
}

.kl{
	grid-area: kl;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 50%;
	height: 70vh;
	border: 1px solid white;
	margin: 30px;
	padding: 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	margin-left: 10%;
}

.kl img{
	border-radius: 40px;
	margin-top: 10px;
}

.section-6{
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-areas: "h1 h1 h1 h1 bu"
	width: 100%;
	height: 15vh;
	background-color: #ff1288;
	justify-content: center;
	align-items: center;
}

.section-6 h1{
	color: white;
	margin-left: 60px;
	font-size: 32px;
}

.section-6 button{
	width: 150px;
	height: 50px;
	border-radius: 25px;
	border:0px;
	color: #ff1288;
}

.section-6 button:hover{
	color: white;
	background-color: #ff1288;
}

.form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	height: 70vh;
	justify-content: center;
	align-items: center;
	grid-template-areas: "signup form";
	background: linear-gradient(0deg, rgb(107, 106, 107), rgba(107, 106, 107,0.6)), url(image12.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.signup{
	grid-area: signup;
	margin-left: 120px;
}

.signup h3{
	font-size: 40px;
	margin-right: 30px;
}

.signup p{
	margin-right: 130px;
	margin-top: 20px;
}

form{
	grid-area: form;
	margin-top: 50px;
}

form input{
	width: 75%;
	height: 5vh;
}

#submit{
	background-color: #ff1288;
	color: white;
	border: 0px;
}

footer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "f1 f2 f3";
	width: 100%;
	height: 12vh;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.f1{
	grid-area: f1;
	margin-left: 50px;
}

.f2{
	grid-area: f2;
}

.f2 h1{
	margin-left: 70px;
	color: #ff1288;
}

.f2 p{
	display: inline;
}

.f3{
	grid-area: f3;
	padding: 10px;
}

.f3 a{
	text-decoration: none;
	color: black;
	padding: 10px;
}